.cart_items{
	margin: 100px 170px;
}

.cart_items hr {
	height: 3px;
	background:white;
	border: 0;
}

.cart_items_format_main {
	display: grid;
	grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
	align-items: center;
	gap: 75px;
	padding: 20px 0px;
	color: #545454;
	font-size: 18px;
	font-weight: 600;
}
.cart_items-format {
	font-size: 17px;
	font-weight: 500;

}

.cart_icon_product {
	height: 62px;
}
.cart_items_remove_icon {
	width: 15px;
	margin: 0 40px;
	cursor: pointer;
}

.cart_items_quantity {
	width: 64px;
	height: 50px;
	border: 2px solid #ebebeb;
	background: white;
}

.cart_items_down {
	
}